<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink="">
      <img style="width: 50px; height: 50px;" title="Food Order" alt="Food Order" src="./assets/img/food.ico">
  </a>

  <a class="navbar-brand" href="/">Food Order</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">Home</a>
                </li>

                <li  class="nav-item">
                    <a class="nav-link" routerLink="providers" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">Providers</a>
                </li>

                <li  class="nav-item"  *ngIf="isAdminOrEmployeeMyRole">
                    <a class="nav-link" routerLink="cart" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">Cart</a>
                </li>
                <li class="nav-item" *ngIf="isAdminOrEmployeeMyRole" >
                    <a class="nav-link" routerLink="order" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="aboutdelivery" routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact:true}">About Delivery</a>
              </li>
                <li class="nav-item"  *ngIf="isAmdim">
                    <a class="nav-link" routerLink="users" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">Users</a>
                </li>
                <li *ngIf="isAmdim">
                    <a class="nav-link" routerLink="report" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">Report</a>
                </li>
              </ul>
          <nav>
                <ul class="navbar-nav mr-auto">
                        <li class="nav-item" *ngIf="!isUserAuthenticated()">
                            <a class="nav-link" routerLink="login" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">Login</a>
                        </li>
                        <li class="nav-item" *ngIf="isUserAuthenticated()">
                            <a class="nav-link" routerLink="" (click)="logOut()">Logout</a>
                        </li>
                        <li class="nav-item"  *ngIf="!isUserAuthenticated()">
                            <a class="nav-link" routerLink="register" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">Register</a>
                        </li>
                        <li class="nav-item" *ngIf="isUserAuthenticated()">
                            <a class="nav-link" routerLink="account" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">Profile</a>
                        </li>
                    </ul>
                  </nav>
              </div>
        </nav>
</header>
