@model Web.Models.Dish.EditDithViewModel

@{ ViewData["Title"] = "EditDish"; }

<h1 class="text-center"> EditDish "@Model.Name"</h1>
<br />
@if (Model.Path != null)
{
<img width="360" height="180" class="img-thumbnail" src="@Model.Path" alt="@Model.Name" />}
<h3>DishEditImgInfo </h3>
<form method="post" asp-controller=Dish asp-action="Edit" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" /><br>
    <input type="hidden" asp-for="CatalogId" />
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Path" />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Info" class="control-label">Info</label>
        <input type="text" asp-for="Info" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Weight" class="control-label">Weight</label>
        <input type="text" asp-for="Weight" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label">Price</label>
        <input type="text" asp-for="Price" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-outline-secondary" />
    </div>
</form>
